<div class="col-lg-12">
    <table class="table table-hover table-bordered">
        <thead class="bg-success">
            <tr>
                <th>#</th>
                <th>Particulars</th>
                <th>Yes/No</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ question }}</td>
                <td>
                    <input type="radio" name="answer[]" value="{{ loop.index }}" />
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="form-group">
        <button class="btn btn-success pull-right">Save EIA Form</button>
        <label for="job_post_logo">Upload Payment Slip <small class="text-danger">(Maximum file size 1 MB)</small></label>
        <div class="custom-file">
            <input type="file" id="job_post_logo" name="job_post[logo]" class="custom-file-input">
            <label for="job_post_logo" class="custom-file-label"></label>
        </div>
    </div>

    
</div>